body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1rem;
}

.navbar-toggler {
    border: none;
}


footer p {
    margin: 0;
}
